<div class="container">
  <h1 class="form-heading">コメント編集</h1>
  <%= form_with(model: @comment, local: true) do |form| %>
  <form>
  <div class="form-group">
    <% @comment.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
    <% end %>
    <%= form.text_area :content, class: "form-control", rows: "3" %>
    <%= form.submit "更新", class: "btn btn-primary my-2" %>
  </div>
  </form>
  <% end %>
</div>
