<div class="main topics-index">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="topics-index-item">
        <div class="topic-left">
          <%= link_to(topic.title, "/topics/#{topic.id}") %>
        </div>
        <div class="topic-right">
          <div class="topic-user-name">
            <%= link_to(topic.user.name, "/users/#{topic.user.id}") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
