<div class="container">
  <h4>Boardについて</h4>
  <h6><span class="border-bottom border-danger">Boardってなに？</span></h6>
    <p>どんなジャンルでもカバーする掲示板です。気楽に書き込んで下さい。</p>
  <h6><span class="border-bottom border-danger">最低限のルールは？</span></h6>
    <p>他人に迷惑をかけるのはやめましょう。。。<br><br>必要以上の馴れ合いは慎しむとか、暴言や第三者を不快にする書き込みはしないとか、悪質な削除要請や自己中心的な発言はひかえるとか、どれもむずかしくないことです。<br>また、一般人の誹謗中傷・私生活情報暴露は禁止します。</p>
  <h6><span class="border-bottom border-danger">他に気をつけることは？</span></h6>
    <p>まず、他人が見て面白いことを書きましょう。大勢の読者がいることを意識してください。<br>またトピックを立てる前に、同じような内容のものがないか確認するのも忘れないでください。</p>
</div>
